---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import {Search,Filter,Table} from "@/components/custom/transactions";
---

<html lang="en">
  <head>
    <title>Dashboard | IMBOARD</title>
  </head>
  <body>
    <Dashboard>
      <div>
        <div class="flex justify-end">
          <div class="grid grid-cols-1 gap-6 xl:grid-cols-4 w-full">
            <Table/>
            <div class="flex flex-col space-y-6 xl:col-span-1">
              <Search/>
              <Filter/>
            </div>
          </div>
        </div>
      </div>
    </Dashboard>
  </body>
</html>
