---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import { Header } from "@/components/custom/dashboard";
import Basehead from "@/components/custom/BaseHead.astro";
---

<html lang="en">
  <head>
    <Basehead title="Dashboard" />
  </head>
  <body>
    <Dashboard>
      <Header client:visible />
    </Dashboard>
  </body>
</html>
