---
import '@/styles/globals.css'
import Dashboard from '@/layouts/Dashboard.astro'
import { Header } from '@/components/custom/dashboard'

---

<html lang="en">
 <head>
  <title>Dashboard | kromaboard</title>
 </head>
 <body>
    <Dashboard>
        <>
            <Header />
        </>
    </Dashboard>
 </body>
</html>