---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import BaseHeader from "@/components/custom/BaseHeader.astro";
import UnderConstruction from "@/components/custom/placeholders/UnderConstruction.vue";
---

<html lang="en">
  <head>
    <BaseHeader title="Reports" />
  </head>
  <body>
    <Dashboard>
      <UnderConstruction />
    </Dashboard>
  </body>
</html>
