---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import { Filter, Table } from "@/components/custom/categories";
import Basehead from "@/components/custom/basehead.astro";
---

<html lang="en">
  <head>
    <title>Category | KromaBoard</title>
    <Basehead />
  </head>
  <body>
    <Dashboard>
      <div class="flex flex-col-reverse lg:flex-row w-full lg:space-x-5">
        <div class="flex-[1] w-full">
          <Table client:only="vue" />
        </div>
        <div class="mb-5 lg:mb-0">
          <Filter client:only="vue" />
        </div>
      </div>
    </Dashboard>
  </body>
</html>
