---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import { Filter, Table } from "@/components/custom/categories";
import Basehead from "@/components/custom/BaseHead.astro";
---

<html lang="en">
  <head>
    <Basehead title="Categories" />
  </head>
  <body>
    <Dashboard>
      <Table client:only="vue" />
    </Dashboard>
  </body>
</html>
