---
import Login from "@/components/custom/form/Login.vue"
import '@/styles/globals.css'
import { ViewTransitions } from "astro:transitions"
import Default from '@/layouts/Default.astro'
---

<html lang="en">
 <head>
   <title>KromaBoard</title>
  <ViewTransitions />
 </head>
    <Default>
	    <Login client:visible//>
    </Default>
 </body>
</html>