---
import ResetPasswordForm from "@/components/custom/form/ResetPassword.vue";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Default from "@/layouts/Default.astro";
import Basehead from "@/components/custom/basehead.astro";
---

<html lang="en">
  <head>
    <title>Reset Password | KromaBoard</title>
    <Basehead />
    <ViewTransitions />
  </head>
  <Default>
    <ResetPasswordForm client:visible />
  </Default>
</html>
