---
import SignUpForm from "@/components/custom/form/SignUp.vue"
import '@/styles/globals.css'
import { ViewTransitions } from "astro:transitions"
import Default from '@/layouts/Default.astro'
---

<html lang="en">
 <head>
  <title>Sign Up | KromaBoard</title>
  <ViewTransitions />
 </head>
    <Default>
	    <SignUpForm client:visible/>
    </Default>
 </body>
</html>