---
import "@/styles/globals.css";
import Dashboard from "@/layouts/Dashboard.astro";
import { Filter, Table } from "@/components/custom/products";
import Basehead from "@/components/custom/basehead.astro";
---

<html lang="en">
  <head>
    <title>Products | KromaBoard</title>
    <Basehead />
  </head>
  <body>
    <Dashboard>
      <div>
        <div class="flex justify-end">
          <div class="flex flex-col-reverse lg:flex-row w-full lg:space-x-5">
            <div class="flex-[1] w-full">
              <Table client:only="vue" />
            </div>
            <div class="mb-5 lg:mb-0">
              <Filter client:only="vue" />
            </div>
          </div>
        </div>
      </div>
    </Dashboard>
  </body>
</html>
