---
import { MobileNavSheet, NavBar, UserDropdownMenu,Sidebar } from "@/components/custom/navigation";
import { ViewTransitions } from 'astro:transitions';
const currentRoute = Astro.url.pathname;

---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <ViewTransitions />
  </head>
  <body>
     <NavBar>
        <Sidebar slot="side-bar" currentRoute={currentRoute}/>
        <UserDropdownMenu slot="user-dropdown-menu" client:visible />
        <MobileNavSheet slot="mobile-nav-sheet"  client:visible/>
        <slot/>
     </NavBar>
  </body>
</html>