---
import {
  MobileNavSheet,
  NavBar,
  UserDropdownMenu,
  Sidebar,
} from "@/components/custom/navigation";
import { ViewTransitions } from "astro:transitions";
const currentRoute = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ViewTransitions />
  </head>
  <body>
    <NavBar client:only="vue">
      <Sidebar slot="side-bar" client:only="vue" />
      <UserDropdownMenu slot="user-dropdown-menu" client:only="vue" />
      <MobileNavSheet
        slot="mobile-nav-sheet"
        currentRoute={currentRoute}
        client:only="vue"
      />
      <slot />
    </NavBar>
  </body>
</html>
